body{
    background-color: #27272a;
}

header {
    display: flex;
    background-color: #4C5B84;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}


a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #A7071B;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}
.botaoContatos {
    display: inline-block;
    background-color: #A7071B;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
}
.botaoDownload {
    display: inline-block;
    background-color: #A7071B;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
}
