body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}
body, h1, h2, h3, figure {
    margin: 0;
}
button{
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
}
a:-webkit-any-link {
    text-decoration: none;
}