.arrow-button {
    width: 50px;
    height: 50px;
    background-color: #A7071B;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    
}
.arrow-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translateX(14px);
}
.arrow-button .content {
    display: none;
}
.arrow-button.-left::before {
    transform: rotate(180deg) translateX(6px);
}