.banner {
    background-image: url(../../assets/final-background-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 38px;
    padding-top: 116px;
    padding-left: 91px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;

}