.main-box {
    display: inline-block;
    background-color: #3A4042;
    
    padding: 32px 44px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
}

.main-box .main-title {
    margin-bottom: 28px;
}

.main-box.-second {
    box-shadow: none;
    padding: 17px 35px;
    background-color: #7C5E99;
    box-shadow: 10px 10px #FFF;
}

.main-box.-third {
    box-shadow: none;
    padding: 12px 15px 14px 20px;
    background-color: #4C5B84;
    box-shadow: 10px 10px #FFF;
}
.main-box.-fourth {
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px #FFF;
    padding: 0%;
}