.skillName {
    color: #FFF;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.tec-skill {
    display: flex;
}
.tec-skill .icon {
    box-sizing: border-box;
    margin-right: 25px;
    width: 90px;
}
.tec-skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tec-skill .skillName{
    margin-bottom: 10px;
}
