.skillName {
    color: #FFF;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.tec-skill {
    display: flex;
}
.tec-skill .icon {
    margin-right: 25px;
}
.tec-skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
